*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#top{
    width: 1000px;
    margin: 0 auto;
    position: relative;
}
#earth{
    background: url(../image/earth.jpeg);
    width: 1000px;
    height: 500px;
    background-size: cover;
}