*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrap{
    width: 2200px;
    margin: 0 auto;
    position: relative;
}
#header{
    margin-bottom: 80px;
    position: relative;
    border-bottom: 1px solid lightgray;
}
#top{
    background: white;
    color:black;
}
.top_box{
    text-align: left;
    padding: 50px 10px 20px 100px;
    font-size: 30px;
    cursor: pointer;
}
.top_text0{
    font-size: 50px;
    position: absolute;
    top: 25px;
    color: #444;
}
.top_text1{
    position: relative;
    margin-left: 200px;
}
.top_text2{
    padding-left: 30px;
}
.top_text3{
    margin-left: 20px;
    padding-left: 30px;
    border-left:4px solid lightgray;
}
#logo_box img{
    position: absolute;
    width: 90px;
    bottom: 3px;
    cursor: pointer;
}
#box_left{
    width: 1000px;
    height: 600px;
    border: 3px solid lightgreen;
    border-radius: 30px;
    position: relative;
    left: 80px;
}
.box1{
    width: 100%;
    height: 100px;
    border-bottom: 0.2px solid lightgray;
    font-size: 35px;
    padding-left: 30px;
    padding-top: 30px;
    cursor: pointer;
}
.box2{
    width: 100%;
    height: 400px;
    border-bottom: 0.2px solid lightgray;
    font-size: 50px;
    color: lightslategray;
    padding-left: 30px;
    padding-top: 30px;
}
.number{
    padding-left: 800px;
    padding-top: 220px;
    font-size: 35px;    
}
.box3{
    display: inline-block;
    margin-left: 800px;
    font-size: 30px;
    border-radius: 5px;
}
.icon4{
    background-color: #36e37c;
    color: white;
    display: inline-block;
    width: 200px;
    height: 100px;
    padding-left: 25px;
    padding-top: 30px;
    border-bottom-right-radius: 30px;
    cursor: pointer;
}

#box_right{
    width: 1000px;
    height: 600px;
    position: relative;
    left: 1100px;
    bottom: 600px;
    border: 1px solid lightgray;
    border-radius: 30px;
}
.box4{
    width: 100%;
    height: 100px;
    border-bottom: 0.2px solid lightgray;
    font-size: 35px;
    padding-left: 30px;
    padding-top: 30px;
    cursor: pointer;
}
.box5{
    width: 1000px;
    height: 400px;
    border-bottom: 0.2px solid lightgray;
    font-size: 60px;
    color: gray;
    padding-left: 30px;
    padding-top: 30px;
}